[submodule "main-controller/lib/ESP8266-Arduino-OTA"]
	path = main-controller/lib/ESP8266-Arduino-OTA
	url = git@github.com:t-liu93/ESP8266-Arduino-OTA.git
[submodule "main-controller/lib/hdc1080-adruino"]
	path = main-controller/lib/hdc1080-adruino
	url = git@github.com:t-liu93/hdc1080-adruino.git
